html {
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    background-color: #e3e3e3;
    color: white;
}

main {
    margin: auto;
    margin-top: 13px;
}

.logo{
    font-family: 'logoFont';
    color: white;
    line-height: 0;
}


p {
    margin: 0 0 2em;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    /* color: #05050584; */
    color: rgb(251, 213, 174);
} 

