
@font-face {
    font-family: logoFont;
    src: url(/founts/Change-One/Changa_One/ChangaOne-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(/founts/Montserrat/Montserrat/static/Montserrat-Regular.ttf);
}